@tailwind base;
@tailwind components;
@tailwind utilities;
.info{
    text-align: center;
}
.span{
    font-weight: bold;text-decoration: none; color: black;

}
.p{
font-size: 16px;

}
.right{
    text-align: right;
}
  .patient-name-id{
    display: flex;
    justify-content: space-between;
  }
